[run]
branch = True
include=
    *.py
omit=
    /tests/*
    */__init__.py
    */python*

[report]
exclude_lines=
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
directory = html_coverage_reports
title = Coverage Report for sdc-dot-cvp-ingest